.alinhamento-direita {
    display: flex;
    justify-content: flex-end;
    padding-top: 2vw;
    padding-bottom: 2vw;
}

.cadastrar-fornecedor {
    display: grid;
    grid-template-columns: 1fr 0.5fr;    
    justify-content: center;
}

.container-fornecedor{
   background-color: #E3E3E3;
   height: 100vh;
}

.container-form-fornecedor{
    background-color: #FFF;
    margin: 5vw;
    padding-top: 5vh;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-bottom: 2vw;
}


.flex-fornecedor{
    display: flex;
    align-items: flex-start;
}


.alinhamento-uf{
    margin-left: 5px;
}