.alinhamento-direita {
    display: flex;
    justify-content: flex-end;
    padding-top: 2vw;
    padding-bottom: 2vw;
}

.cadastrar-fornecedor {
    display: grid;
    grid-template-columns: 1fr 0.5fr;    
    justify-content: center;
}

.container-fornecedor{
   background-color: #E3E3E3;
   height: 100vh;
}

.container-form{
    background-color: #FFF;
    /* max-width: 200vw; */
    margin: 5vw;
    padding: 2vh;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-bottom: 2vw;
    
}

/* .menu-item{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    padding-right: 50px; */
/* } */

.flex{
    display: flex;
    align-items: flex-start;
}
