.card {
    width: 15vw;
    height: 100;
    background-color: white;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dados {
    font-size: 28px;
    margin: 0;
    padding: 5px;
}

.imagem {
    max-width: 80%;
}

.status {
    margin: 0;
    font-size: 19px;
}

.icones {
    width: 90%;
    display: flex;
    justify-content: space-between;
}