.alinhamentoDireita {
    display: flex;
    justify-content: flex-end;
    padding-top: 2vw;
    padding-bottom: 2vw;
}

.cadastrarFornecedor {
    display: grid;
    grid-template-columns: 1fr 0.5fr;    
    justify-content: center;
}

.containerFornecedor{
   background-color: #E3E3E3;
   height: 100vh;
}

.containerFormFornecedor{
    background-color: #FFF;
    margin: 5vw;
    padding-top: 5vh;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-bottom: 2vw;
}


.flexFornecedor{
    display: flex;
    align-items: flex-start;
}


.alinhamentoUf{
    margin-left: 5px;
}