.card {
    width: 20vw;
    height: 30vh;
    background-color: white;
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.nome, .dados {
    margin: 0;
    padding-left: 20px;
}

.dados {
    font-size: 15px;
    display: flex;
    align-items: center;
}

.nome {
    font-size: 28px;
    margin: 10px;
}

.icones {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: auto;
}
