.card {
    width: 20vw;
    height: 100;
    background-color: white;
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.nome, .dados {
    margin: 0;
}

.dados {
    font-size: 20px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.nome {
    font-size: 40px;
    margin: 10px;
    align-self: center;
}

.icones {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: auto;
}
