.cabecalho {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 85vw;
    padding: 0px;
    margin: 0px;
}

.pagina {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e3e3e3;
    width: 100vw;
    height: 80vh;
}

.linha {
    height: 1px;
    width: 98%;
    background-color: #808080;
    margin-bottom: 20px;
    align-self: center;
}

.conteiner {
    width: 83vw;
    
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.parteum {
    width: 100%;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}

.partedois {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.quadro {
    background-color: #e3e3e3;
    width: 90%;
    align-self: center;
    padding:25px;
    
}

.linhaquadro {
    width: 100%;
    display: flex;
    flex-direction: column;
    
}

h1 {
    font-size: 48px;
    color: #b07ca3;
    font-weight: 400;
    margin: 0px;
}

h5 {
    font-size: 20px;
    font-weight: 400;
}

.produto {
    color: #b07ca3;
    font-size: 16px;
}

.total, .titulo {
    font-size: 26px;
    font-weight: 400;
    color: #808080;
    margin: 0px;
    margin-bottom: 10px;
}

.titulo {
    margin-left: 50px;
}

h2 {
    font-size: 34px;
}

.separador {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    
} 

.info {
    display: flex;
    color: #b07ca3;
    font-size: 30px;
    justify-content: space-between;
}
.parteDoisELapis {
    display: flex;
}

.lapis {
align-self: flex-end;
margin-left: -30px;
margin-right: -10px;
}