.icone {
    max-width: 45px;
}

.headerimg {
    object-fit: cover;
    width: 100vw;
    height: 140px;
    margin-bottom: -5px;
}

.logo {
    max-width: 130px;
}

.divisor {
    width: 3px;
    height: 40px;
    background-color: white;
    color: white;
    margin-right: 20px;
}

.barra {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ladoesquerdo {
    display: flex;
    flex-direction: row;    
    align-items: center;
}

.barra {
    width: 100%;
}